.layout {
    display: grid;
    grid-template-columns: min-content auto min-content;
    width: 100vw;
    height: 100vh;
    background-color: #F6F6F6;
}

.spalla-sx {
    display: flex;
    flex-direction: column;
    min-width: 180px;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;

    background-color: #22509c;

}

.img-Dialogica-logo {
    height: auto;
    width: 10vw;
    -webkit-user-drag: none;
}

.main {
    display: grid;
    grid-template-rows: 130px auto;
    height: 100%;

}

.div-title {
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.title {
    font-size: 36;
    font-family: 'Roboto', sans-serif;
}

.children {
    display: flex;
    justify-content: center;
}

.child1 {
    position: relative;
    top: 55px;
}

.spalla-dx {
    display: flex;
    flex-direction: column;
}

.logout {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.div-NCI {
    padding-bottom: 0.5vh;
    padding-right: 0.5vw;
    margin-top: auto;
}

.img-NCI {
    width: 175px;
    height: auto;
    -webkit-user-drag: none;
    user-select: none;
}