.layout {
    display: grid;
    grid-template-columns: min-content auto min-content;
    width: 100vw;
    height: 100vh;
}

.spalla-sx {
    display: flex;
    flex-direction: column;
    min-width: 180px;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;

    background-color: #22509c;

}

.img-Dialogica-logo {
    height: auto;
    width: 10vw;
    -webkit-user-drag: none;
}

.main {
    display: grid;
    grid-template-rows: min-content auto;

    background-color: brown;

}

.title {
    font-size: 36;
    font-family: 'Roboto', sans-serif;
    align-self: center;

}

.children {
    display: flex;
    justify-content: center;
    position: relative;
    top: 8vh;
    background-color: blueviolet;
}

.spalla-dx {
    background-color: green;
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;

}

.img-NCI {
    width: 175px;
    height: auto;
    -webkit-user-drag: none;
    margin-top: auto; ;
}