.login {
  background-color: #22509c;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  /* Larghezza del viewport */
  height: 100vh;
  overflow: hidden;
}

.login .semi-circle {
  height: 150vh;
  width: 100%;
  background-color: #F6F6F6;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.login .net-cohesion-index {
  width: 740px;
  height: 251px;
  transform: scale(0.9);
  -webkit-user-drag: none;

  position: absolute;
  top: 40px;
}

.login .username-text-field {
  position: absolute;
  top: 350px
}

.login .password-text-field {
  position: absolute;
  top: 435px
}


.login .button {
  position: absolute;
  top: 550px;
}

.login .div-cariplo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100px;
  width: 200px;
  position: absolute;
  top: 500px;
  left: 70px;
}

.login .con-il-supporto-di {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-align: center;
  top: 5px;
}

.login .logo-cariplo {
  bottom: 10px;
  transform: scale(0.6);
  -webkit-user-drag: none;
}

.login .dialogica-logo-lab {
  height: 153px;
  width: 660px;
  transform: scale(0.75);
  -webkit-user-drag: none;
  position: absolute;
  top: 35px;
}







.login .text-wrapper-6 {
  color: #f6f6f6;
  font-family: "Titillium Web", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 48px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: 156px;
}



.login .frame-2 {
  align-items: flex-start;
  background-color: #f6f6f6;
  border: 1px solid;
  border-color: #cccccc;
  border-radius: 2px;
  box-shadow: -2px 2px 4px #00000040;
  display: flex;
  gap: 10px;
  height: 60px;
  justify-content: center;
  left: 570px;
  padding: 10px 30px 8px;
  position: absolute;
  top: 462px;
  width: 300px;
}

.login .design-component-instance-node {
  left: unset !important;
  margin-left: -18.00px !important;
  position: relative !important;
  top: unset !important;
}

.login .input {
  background-color: transparent;
  border: 0;
  color: #000000;
  font-family: var(--pulsanti-lat-font-family);
  font-size: var(--pulsanti-lat-font-size);
  font-style: var(--pulsanti-lat-font-style);
  font-weight: var(--pulsanti-lat-font-weight);
  letter-spacing: var(--pulsanti-lat-letter-spacing);
  line-height: var(--pulsanti-lat-line-height);
  margin-right: -18.00px;
  margin-top: -1.00px;
  padding: 0;
  position: relative;
  width: 224px;
}

.login .frame-3 {
  align-items: flex-start;
  background-color: #f6f6f6;
  border: 1px solid;
  border-color: #cccccc;
  border-radius: 2px;
  box-shadow: -2px 2px 4px #00000040;
  display: flex;
  gap: 10px;
  height: 60px;
  justify-content: center;
  left: 570px;
  padding: 10px 30px 8px;
  position: absolute;
  top: 534px;
  width: 300px;
}

.login .ML-FCARIPLO-nero {
  height: 60px;
  left: 30px;
  object-fit: cover;
  position: absolute;
  top: 630px;
  width: 127px;
}

.login .text-wrapper-7 {
  box-shadow: var(--shad);
  color: #22509c;
  font-family: "Titillium Web", Helvetica;
  font-size: 18px;
  font-weight: 400;
  height: 27px;
  left: 30px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-shadow: -2px 2px 4px #00000040;
  top: 572px;
}

.login .dialogica-logo-lab-2 {
  height: 161px;
  left: 386px;
  object-fit: cover;
  position: absolute;
  top: 94px;
  width: 668px;
}