.div-genitore {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    /*background-color: brown;
    /*padding: 20px;*/

    width: 980px;
    margin-bottom: 200px;
}


.div-testo {
    background-color: #CCCCCC;
    width: 100%;
    height: auto;

    justify-content: flex-start;
    text-align: center;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    line-height: 1.5;
    box-sizing: border-box;
}

.div-condividi {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: left;
}

.div-button-alert {

    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    align-items: left;
    height: 60px;
}

.fade-alert {
    opacity: 1;
    transition: opacity 0.5s ease-out;
    /* Dissolvenza in 0.5s */
    margin-left: 70px;
}

.fade-alert.hidden {
    opacity: 0;
    margin-left: 70px;
}


.div-tab-status {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

}